* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

#wrapper-div {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100px;
  margin: auto;
}

#logo-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 40px;
  background-color: lightgray;
  padding-left: 2%;
  align-items: center;
}

#nav-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 25px;
  background-color: lightgray;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

#header-banner-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100px;
  background-color: lightgray;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

#main-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 400px;
  margin-top: 10px;
  justify-content: space-between;
}

#sidebar-div {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

#body-area-div {
  display: flex;
  flex-direction: row;
  flex-basis: 70%;
  background-color: lightgray;
  justify-content: center;
  align-items: center;
}

#footer-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 20px;
  background-color: lightgray;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
